services:
  backend:
    image: ifeoma028/epicbook-backend:latest
    container_name: epicbook-backend
    environment:
      DB_HOST: database
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      database:
        condition: service_healthy
    networks:
      - backend_net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  database:
    image: postgres:15-alpine
    container_name: epicbook-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend_net

  reverse-proxy:
    image: ifeoma028/epicbook-nginx:latest
    container_name: epicbook-proxy
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - backend_net

volumes:
  db_data:

networks:
  backend_net:
